# Interview Based Assessment

# Machine Learning

In [1]:
# Intermediate Questions

In [2]:
"""
Q-1. Imagine you have a dataset where you have different Instagram features
like u sername , Caption , Hashtag , Followers , Time_Since_posted , and likes , now your task is
to predict the number of likes and Time Since posted and the rest of the features are
your input features. Now you have to build a model which can predict the
number of likes and Time Since posted.
Dataset This is the Dataset You can use this dataset for this question.
"""

# Solution

import pandas as pd
df = pd.read_csv('instagram_reach.csv')

In [3]:
df

,Unnamed: 0,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11 hours,139
1,1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2 hours,23
2,2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2 hours,25
3,3,4,opensourcedworkplace,sfad,340,#iot #cre#workplace #CDO #bigdata #technology#...,3 hours,49
4,4,5,crea.vision,Ever missed a call while your phone was chargi...,304,#instamachinelearning #instabigdata#instamarke...,3 hours,30
...,...,...,...,...,...,...,...,...
95,8,19,michaelgarza__,"328 S. Wetherly Drive, Beverly Hills, CA 90212...",614,#beverlyhills #realestate#losangelesrealestate...,3 hours,31
96,9,21,dvlp_search,Credit @tristankappel To find more dvlp follow...,450,#workspace #work #developer#development #devel...,3 hours,42
97,10,22,ecom.space,We are coming up with the Best 21 Books that w...,182,#books #book #motivation #inspiration #life#bo...,3 hours,10
98,11,24,lb3enterprises,We’re only paid to move dirt once. It’s not ju...,2039,#heavyequipment #underconstruction#dozer #real...,3 hours,222
99,12,25,palmariusdev,Obtén tu tienda en línea ahora.,741,#marketing #programming#development #desarroll...,3 hours,109

In [4]:
df.drop(columns = 'Unnamed: 0', inplace = True)

In [5]:
df

,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11 hours,139
1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2 hours,23
2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2 hours,25
3,4,opensourcedworkplace,sfad,340,#iot #cre#workplace #CDO #bigdata #technology#...,3 hours,49
4,5,crea.vision,Ever missed a call while your phone was chargi...,304,#instamachinelearning #instabigdata#instamarke...,3 hours,30
...,...,...,...,...,...,...,...
95,19,michaelgarza__,"328 S. Wetherly Drive, Beverly Hills, CA 90212...",614,#beverlyhills #realestate#losangelesrealestate...,3 hours,31
96,21,dvlp_search,Credit @tristankappel To find more dvlp follow...,450,#workspace #work #developer#development #devel...,3 hours,42
97,22,ecom.space,We are coming up with the Best 21 Books that w...,182,#books #book #motivation #inspiration #life#bo...,3 hours,10
98,24,lb3enterprises,We’re only paid to move dirt once. It’s not ju...,2039,#heavyequipment #underconstruction#dozer #real...,3 hours,222
99,25,palmariusdev,Obtén tu tienda en línea ahora.,741,#marketing #programming#development #desarroll...,3 hours,109

In [6]:
df.isna().sum()

S.No                 0
USERNAME             0
Caption              6
Followers            0
Hashtags             0
Time since posted    0
Likes                0
dtype: int64

In [7]:
df.dropna(inplace = True)

In [8]:
df.isna().sum()

S.No                 0
USERNAME             0
Caption              0
Followers            0
Hashtags             0
Time since posted    0
Likes                0
dtype: int64

In [9]:
df.dtypes

S.No                  int64
USERNAME             object
Caption              object
Followers             int64
Hashtags             object
Time since posted    object
Likes                 int64
dtype: object

In [10]:
df['Time since posted'].unique()

array(['11 hours', '2 hours', '3 hours', '4 hours', '7 hours', '8 hours',
       '9 hours', '5 hours', '20 hours', '14 hours', '24 hours'],
      dtype=object)

In [11]:
# Since they are all in hours, I'm converting them to pure numericals

df['Time since posted'] = df['Time since posted'].str.replace(' hours', '')

# Convert the column to numeric type
df['Time since posted'] = pd.to_numeric(df['Time since posted'])

df

,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11,139
1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2,23
2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2,25
3,4,opensourcedworkplace,sfad,340,#iot #cre#workplace #CDO #bigdata #technology#...,3,49
4,5,crea.vision,Ever missed a call while your phone was chargi...,304,#instamachinelearning #instabigdata#instamarke...,3,30
...,...,...,...,...,...,...,...
95,19,michaelgarza__,"328 S. Wetherly Drive, Beverly Hills, CA 90212...",614,#beverlyhills #realestate#losangelesrealestate...,3,31
96,21,dvlp_search,Credit @tristankappel To find more dvlp follow...,450,#workspace #work #developer#development #devel...,3,42
97,22,ecom.space,We are coming up with the Best 21 Books that w...,182,#books #book #motivation #inspiration #life#bo...,3,10
98,24,lb3enterprises,We’re only paid to move dirt once. It’s not ju...,2039,#heavyequipment #underconstruction#dozer #real...,3,222
99,25,palmariusdev,Obtén tu tienda en línea ahora.,741,#marketing #programming#development #desarroll...,3,109

In [12]:
from sklearn.preprocessing import LabelEncoder

# Initialize the LabelEncoder
label_encoder = LabelEncoder()

# Fit and transform the 'hashtags' column
df['hashtags_numerical'] = label_encoder.fit_transform(df['Hashtags'])
df['caption_numerical'] = label_encoder.fit_transform(df['Caption'])

In [13]:
df

,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes,hashtags_numerical,caption_numerical
0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11,139,14,86
1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2,23,91,82
2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2,25,82,13
3,4,opensourcedworkplace,sfad,340,#iot #cre#workplace #CDO #bigdata #technology#...,3,49,61,89
4,5,crea.vision,Ever missed a call while your phone was chargi...,304,#instamachinelearning #instabigdata#instamarke...,3,30,60,30
...,...,...,...,...,...,...,...,...,...
95,19,michaelgarza__,"328 S. Wetherly Drive, Beverly Hills, CA 90212...",614,#beverlyhills #realestate#losangelesrealestate...,3,31,26,6
96,21,dvlp_search,Credit @tristankappel To find more dvlp follow...,450,#workspace #work #developer#development #devel...,3,42,83,24
97,22,ecom.space,We are coming up with the Best 21 Books that w...,182,#books #book #motivation #inspiration #life#bo...,3,10,33,83
98,24,lb3enterprises,We’re only paid to move dirt once. It’s not ju...,2039,#heavyequipment #underconstruction#dozer #real...,3,222,58,85
99,25,palmariusdev,Obtén tu tienda en línea ahora.,741,#marketing #programming#development #desarroll...,3,109,64,62

In [14]:
# Dropping unnecessary columns 
df.drop(columns = 'Hashtags', inplace = True)
df.drop(columns = 'Caption', inplace = True)

In [15]:
df

,S.No,USERNAME,Followers,Time since posted,Likes,hashtags_numerical,caption_numerical
0,1,mikequindazzi,1600,11,139,14,86
1,2,drgorillapaints,880,2,23,91,82
2,3,aitrading_official,255,2,25,82,13
3,4,opensourcedworkplace,340,3,49,61,89
4,5,crea.vision,304,3,30,60,30
...,...,...,...,...,...,...,...
95,19,michaelgarza__,614,3,31,26,6
96,21,dvlp_search,450,3,42,83,24
97,22,ecom.space,182,3,10,33,83
98,24,lb3enterprises,2039,3,222,58,85
99,25,palmariusdev,741,3,109,64,62

In [16]:
# Labelling the username columns
df['Usernames'] = label_encoder.fit_transform(df['USERNAME'])
df.drop(columns = 'USERNAME', inplace = True)
df

,S.No,Followers,Time since posted,Likes,hashtags_numerical,caption_numerical,Usernames
0,1,1600,11,139,14,86,61
1,2,880,2,23,91,82,28
2,3,255,2,25,82,13,3
3,4,340,3,49,61,89,67
4,5,304,3,30,60,30,22
...,...,...,...,...,...,...,...
95,19,614,3,31,26,6,60
96,21,450,3,42,83,24,29
97,22,182,3,10,33,83,30
98,24,2039,3,222,58,85,52
99,25,741,3,109,64,62,69

In [18]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.model_selection import train_test_split

# Prepare the data
X = df[['caption_numerical', 'hashtags_numerical', 'Usernames','Followers']]
y_likes = df['Likes']
y_time_since_posted = df['Time since posted']

# Split the data into training and testing sets
X_train, X_test, y_likes_train, y_likes_test = train_test_split(X, y_likes, test_size=0.2, random_state=42)
X_train, X_test, y_time_train, y_time_test = train_test_split(X, y_time_since_posted, test_size=0.2, random_state=42)

# Initialize the model
model_likes = LinearRegression()
model_time = LinearRegression()

# Train the model
model_likes.fit(X_train, y_likes_train)
model_time.fit(X_train, y_time_train)

# Make predictions on the test data
y_likes_pred = model_likes.predict(X_test)
y_time_pred = model_time.predict(X_test)

# Evaluate the model
mse_likes = mean_squared_error(y_likes_test, y_likes_pred)
mae_likes = mean_absolute_error(y_likes_test, y_likes_pred)
r2_likes = r2_score(y_likes_test, y_likes_pred)

mse_time = mean_squared_error(y_time_test, y_time_pred)
mae_time = mean_absolute_error(y_time_test, y_time_pred)
r2_time = r2_score(y_time_test, y_time_pred)

print("Likes Model Evaluation:")
print("Mean Squared Error:", mse_likes)
print("Mean Absolute Error:", mae_likes)
print("R-squared:", r2_likes)

print("\nTime Model Evaluation:")
print("Mean Squared Error:", mse_time)
print("Mean Absolute Error:", mae_time)
print("R-squared:", r2_time)

Likes Model Evaluation:
Mean Squared Error: 1721.2117190108977
Mean Absolute Error: 29.752615725938846
R-squared: -0.07834116123629697

Time Model Evaluation:
Mean Squared Error: 13.301337736600738
Mean Absolute Error: 2.435473354950824
R-squared: -0.14273748760420424

In [19]:
"""
Q-2. Imagine you have a dataset where you have different features like Age ,

Gender , Height , Weight , BMI , and Blood Pressure and you have to classify the people into
different classes like Normal , Overweight , Obesity , Underweight , and Extreme Obesity by using
any 4 different classification algorithms. Now you have to build a model which
can classify people into different classes.
Dataset This is the Dataset You can use this dataset for this question.
"""

# Solution

df1 = pd.read_csv('ObesityDataSet_raw_and_data_sinthetic.csv')
df1

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [20]:
df1.dtypes

Gender                             object
Age                               float64
Height                            float64
Weight                            float64
family_history_with_overweight     object
FAVC                               object
FCVC                              float64
NCP                               float64
CAEC                               object
SMOKE                              object
CH2O                              float64
SCC                                object
FAF                               float64
TUE                               float64
CALC                               object
MTRANS                             object
NObeyesdad                         object
dtype: object

In [21]:
import pandas as pd

categorical_columns = ['Gender','family_history_with_overweight','FAVC','CAEC','SMOKE','SCC','CALC','MTRANS','NObeyesdad',]

# Perform one-hot encoding for each categorical column
df1_encoded = pd.get_dummies(df1, columns=categorical_columns)

In [22]:
from sklearn.preprocessing import LabelEncoder

# Assuming 'df' is your DataFrame containing the dataset
categorical_columns = ['Gender','family_history_with_overweight','FAVC','CAEC','SMOKE','SCC','CALC','MTRANS','NObeyesdad']

# Create a LabelEncoder object
label_encoder = LabelEncoder()

# Apply label encoding to each categorical column
for col in categorical_columns:
    df1[col] = label_encoder.fit_transform(df1[col])

In [23]:
df1

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,0,21.000000,1.620000,64.000000,1,0,2.0,3.0,2,0,2.000000,0,0.000000,1.000000,3,3,1
1,0,21.000000,1.520000,56.000000,1,0,3.0,3.0,2,1,3.000000,1,3.000000,0.000000,2,3,1
2,1,23.000000,1.800000,77.000000,1,0,2.0,3.0,2,0,2.000000,0,2.000000,1.000000,1,3,1
3,1,27.000000,1.800000,87.000000,0,0,3.0,3.0,2,0,2.000000,0,2.000000,0.000000,1,4,5
4,1,22.000000,1.780000,89.800000,0,0,2.0,1.0,2,0,2.000000,0,0.000000,0.000000,2,3,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,0,20.976842,1.710730,131.408528,1,1,3.0,3.0,2,0,1.728139,0,1.676269,0.906247,2,3,4
2107,0,21.982942,1.748584,133.742943,1,1,3.0,3.0,2,0,2.005130,0,1.341390,0.599270,2,3,4
2108,0,22.524036,1.752206,133.689352,1,1,3.0,3.0,2,0,2.054193,0,1.414209,0.646288,2,3,4
2109,0,24.361936,1.739450,133.346641,1,1,3.0,3.0,2,0,2.852339,0,1.139107,0.586035,2,3,4
2110,0,23.664709,1.738836,133.472641,1,1,3.0,3.0,2,0,2.863513,0,1.026452,0.714137,2,3,4

In [24]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score


# Split the data into feature matrix X and target vector y
X = df1.drop(columns = 'NObeyesdad')
y = df1['NObeyesdad']

# Step 2: Split the Data into Train and Test Sets

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Step 3: Train the Classification Models

# Initialize the models
logistic_regression = LogisticRegression()
decision_tree = DecisionTreeClassifier()
random_forest = RandomForestClassifier()
support_vector_machine = SVC()

# Fit the models on the training data
logistic_regression.fit(X_train, y_train)
decision_tree.fit(X_train, y_train)
random_forest.fit(X_train, y_train)
support_vector_machine.fit(X_train, y_train)

# Step 4: Evaluate the Models

# Predict the classes for the test data
y_pred_lr = logistic_regression.predict(X_test)
y_pred_dt = decision_tree.predict(X_test)
y_pred_rf = random_forest.predict(X_test)
y_pred_svm = support_vector_machine.predict(X_test)

# Evaluate the models
accuracy_lr = accuracy_score(y_test, y_pred_lr)
accuracy_dt = accuracy_score(y_test, y_pred_dt)
accuracy_rf = accuracy_score(y_test, y_pred_rf)
accuracy_svm = accuracy_score(y_test, y_pred_svm)

# Print the accuracies of the models
print("Logistic Regression Accuracy:", accuracy_lr)
print("Decision Tree Accuracy:", accuracy_dt)
print("Random Forest Accuracy:", accuracy_rf)
print("Support Vector Machine Accuracy:", accuracy_svm)

C:\Users\HP\AppData\Roaming\Python\Python39\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Logistic Regression Accuracy: 0.6548463356973995
Decision Tree Accuracy: 0.9361702127659575
Random Forest Accuracy: 0.950354609929078
Support Vector Machine Accuracy: 0.5650118203309693

In [25]:
"""
Question 3:
Imagine you have a dataset where you have different categories of data, Now
you need to find the most similar data to the given data by using any 4 different
similarity algorithms. Now you have to build a model which can find the most similar
data to the given data.
"""
# Solution

import json
import csv

def json_to_csv(json_file, csv_file):
    with open(json_file, 'r') as f:
        data = f.readlines()

    with open(csv_file, 'w', newline='') as f:
        writer = csv.writer(f)

        # Extract the header from the keys of the first JSON object
        header = list(json.loads(data[0]).keys())
        writer.writerow(header)

        # Write each JSON object as a row in the CSV file
        for line in data:
            row = json.loads(line)
            writer.writerow(row.values())

# Usage example
json_file = 'News_Category_Dataset_v3.json'
csv_file = 'News_Category_Dataset_v3.csv'
json_to_csv(json_file, csv_file)

In [26]:
df2 = pd.read_csv('News_Category_Dataset_v3.csv')

In [27]:
df2

,link,headline,category,short_description,authors,date
0,https://www.huffpost.com/entry/covid-boosters-...,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23
1,https://www.huffpost.com/entry/american-airlin...,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,Mary Papenfuss,2022-09-23
2,https://www.huffpost.com/entry/funniest-tweets...,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,"""Until you have a dog you don't understand wha...",Elyse Wanshel,2022-09-23
3,https://www.huffpost.com/entry/funniest-parent...,The Funniest Tweets From Parents This Week (Se...,PARENTING,"""Accidentally put grown-up toothpaste on my to...",Caroline Bologna,2022-09-23
4,https://www.huffpost.com/entry/amy-cooper-lose...,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...,Nina Golgowski,2022-09-22
...,...,...,...,...,...,...
209522,TECH,RIM CEO Thorsten Heins' 'Significant' Plans Fo...,"Reuters, Reuters",https://www.huffingtonpost.com/entry/rim-ceo-t...,Verizon Wireless and AT&T are already promotin...,2012-01-28
209523,SPORTS,Maria Sharapova Stunned By Victoria Azarenka I...,NaN,https://www.huffingtonpost.com/entry/maria-sha...,"Afterward, Azarenka, more effusive with the pr...",2012-01-28
209524,SPORTS,"Giants Over Patriots, Jets Over Colts Among M...",NaN,https://www.huffingtonpost.com/entry/super-bow...,"Leading up to Super Bowl XLVI, the most talked...",2012-01-28
209525,SPORTS,Aldon Smith Arrested: 49ers Linebacker Busted ...,NaN,https://www.huffingtonpost.com/entry/aldon-smi...,CORRECTION: An earlier version of this story i...,2012-01-28
209526,SPORTS,Dwight Howard Rips Teammates After Magic Loss ...,NaN,https://www.huffingtonpost.com/entry/dwight-ho...,The five-time all-star center tore into his te...,2012-01-28

In [28]:
df2.isna().sum()

link                     0
headline                 6
category             36620
short_description        0
authors              20510
date                     0
dtype: int64

In [29]:
df2['category']

0                U.S. NEWS
1                U.S. NEWS
2                   COMEDY
3                PARENTING
4                U.S. NEWS
                ...
209522    Reuters, Reuters
209523                 NaN
209524                 NaN
209525                 NaN
209526                 NaN
Name: category, Length: 209527, dtype: object

In [30]:
df2.dropna(inplace = True)

In [31]:
df2.isna().sum()

link                 0
headline             0
category             0
short_description    0
authors              0
date                 0
dtype: int64

In [32]:
df2

,link,headline,category,short_description,authors,date
0,https://www.huffpost.com/entry/covid-boosters-...,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23
1,https://www.huffpost.com/entry/american-airlin...,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,Mary Papenfuss,2022-09-23
2,https://www.huffpost.com/entry/funniest-tweets...,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,"""Until you have a dog you don't understand wha...",Elyse Wanshel,2022-09-23
3,https://www.huffpost.com/entry/funniest-parent...,The Funniest Tweets From Parents This Week (Se...,PARENTING,"""Accidentally put grown-up toothpaste on my to...",Caroline Bologna,2022-09-23
4,https://www.huffpost.com/entry/amy-cooper-lose...,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...,Nina Golgowski,2022-09-22
...,...,...,...,...,...,...
209517,TECH,Good Games -- Is It possible?,"Mateo Gutierrez, Contributor\nArtist",https://www.huffingtonpost.com/entry/games-for...,I don't think people who play Zynga games are ...,2012-01-28
209518,TECH,Google+ Now Open for Teens With Some Safeguards,"Larry Magid, Contributor\nTechnology journalist",https://www.huffingtonpost.com/entry/google-pl...,"For the most part, teens' experience on Google...",2012-01-28
209519,TECH,Web Wars,"John Giacobbi, Contributor\nTales from the Int...",https://www.huffingtonpost.com/entry/congress-...,"These ""Web Wars"" threaten to rage on for some ...",2012-01-28
209521,TECH,Watch The Top 9 YouTube Videos Of The Week,Catharine Smith,https://www.huffingtonpost.com/entry/watch-top...,If you're looking to see the most popular YouT...,2012-01-28
209522,TECH,RIM CEO Thorsten Heins' 'Significant' Plans Fo...,"Reuters, Reuters",https://www.huffingtonpost.com/entry/rim-ceo-t...,Verizon Wireless and AT&T are already promotin...,2012-01-28

In [33]:
df2.dtypes

link                 object
headline             object
category             object
short_description    object
authors              object
date                 object
dtype: object

In [34]:
df2['date'] = pd.to_datetime(df2['date'])

In [35]:
df2.dtypes

link                         object
headline                     object
category                     object
short_description            object
authors                      object
date                 datetime64[ns]
dtype: object

In [36]:
df2['link'].nunique()

7917

In [37]:
from sklearn.preprocessing import LabelEncoder

# The 'headline' column needs to be converted into numerical and needs to be transformed since it is not categorical.
label_encoder = LabelEncoder()
df2['headlines_encoded'] = label_encoder.fit_transform(df2['headline'])

In [38]:
# Similarly with the other columns
df2['authors_encoded'] = label_encoder.fit_transform(df2['authors'])
df2['description_encoded'] = label_encoder.fit_transform(df2['short_description'])
df2['links_encoded'] = label_encoder.fit_transform(df2['link'])

In [39]:
df2

,link,headline,category,short_description,authors,date,headlines_encoded,authors_encoded,description_encoded,links_encoded
0,https://www.huffpost.com/entry/covid-boosters-...,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23,97421,30408,2350,1709
1,https://www.huffpost.com/entry/american-airlin...,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,Mary Papenfuss,2022-09-23,18438,74671,2342,318
2,https://www.huffpost.com/entry/funniest-tweets...,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,"""Until you have a dog you don't understand wha...",Elyse Wanshel,2022-09-23,6861,37806,573,2657
3,https://www.huffpost.com/entry/funniest-parent...,The Funniest Tweets From Parents This Week (Se...,PARENTING,"""Accidentally put grown-up toothpaste on my to...",Caroline Bologna,2022-09-23,123337,30438,9,2639
4,https://www.huffpost.com/entry/amy-cooper-lose...,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...,Nina Golgowski,2022-09-22,153122,79592,1106,342
...,...,...,...,...,...,...,...,...,...,...
209517,TECH,Good Games -- Is It possible?,"Mateo Gutierrez, Contributor\nArtist",https://www.huffingtonpost.com/entry/games-for...,I don't think people who play Zynga games are ...,2012-01-28,55505,52551,56201,32
209518,TECH,Google+ Now Open for Teens With Some Safeguards,"Larry Magid, Contributor\nTechnology journalist",https://www.huffingtonpost.com/entry/google-pl...,"For the most part, teens' experience on Google...",2012-01-28,55690,42342,58577,32
209519,TECH,Web Wars,"John Giacobbi, Contributor\nTales from the Int...",https://www.huffingtonpost.com/entry/congress-...,"These ""Web Wars"" threaten to rage on for some ...",2012-01-28,144615,120075,36609,32
209521,TECH,Watch The Top 9 YouTube Videos Of The Week,Catharine Smith,https://www.huffingtonpost.com/entry/watch-top...,If you're looking to see the most popular YouT...,2012-01-28,143745,58505,146811,32
209522,TECH,RIM CEO Thorsten Heins' 'Significant' Plans Fo...,"Reuters, Reuters",https://www.huffingtonpost.com/entry/rim-ceo-t...,Verizon Wireless and AT&T are already promotin...,2012-01-28,103243,129307,112793,32

In [40]:
# Assuming 'category' is the name of the categorical column in df2
df2['encoded_category'] = df2['category'].astype('category').cat.codes

In [41]:
training_df2 = df2.drop(columns = ['link', 'headline', 'category', 'short_description', 'authors'], inplace = True)

In [42]:
df2

,date,headlines_encoded,authors_encoded,description_encoded,links_encoded,encoded_category
0,2022-09-23,97421,30408,2350,1709,26234
1,2022-09-23,18438,74671,2342,318,26234
2,2022-09-23,6861,37806,573,2657,3809
3,2022-09-23,123337,30438,9,2639,20134
4,2022-09-22,153122,79592,1106,342,26234
...,...,...,...,...,...,...
209517,2012-01-28,55505,52551,56201,32,17646
209518,2012-01-28,55690,42342,58577,32,15139
209519,2012-01-28,144615,120075,36609,32,12644
209521,2012-01-28,143745,58505,146811,32,4291
209522,2012-01-28,103243,129307,112793,32,21674

In [43]:
df2.drop(columns = ['date'], inplace = True)

In [44]:
df2

,headlines_encoded,authors_encoded,description_encoded,links_encoded,encoded_category
0,97421,30408,2350,1709,26234
1,18438,74671,2342,318,26234
2,6861,37806,573,2657,3809
3,123337,30438,9,2639,20134
4,153122,79592,1106,342,26234
...,...,...,...,...,...
209517,55505,52551,56201,32,17646
209518,55690,42342,58577,32,15139
209519,144615,120075,36609,32,12644
209521,143745,58505,146811,32,4291
209522,103243,129307,112793,32,21674

In [45]:
from sklearn.metrics.pairwise import cosine_similarity, euclidean_distances
from sklearn.metrics import jaccard_score
from sklearn.preprocessing import StandardScaler

# Scale the feature columns
scaler = StandardScaler()
feature_cols = df2.drop(columns = ['encoded_category'])  # Replace with the actual feature column names
scaled_features = scaler.fit_transform(df2[feature_cols])

# Extract X and given_data
X = scaled_features
given_headline = 'given_headline'  # Replace with the actual given headline
given_data = df2[df2['encoded_category'] == given_headline][feature_cols].values.reshape(1, -1)

# Compute similarity scores using different algorithms
cosine_sim_scores = cosine_similarity(given_data, X)
euclidean_dist_scores = euclidean_distances(given_data, X)
jaccard_sim_scores = jaccard_score(given_data, X, average=None)

# Print the similarity scores
print("Cosine Similarity Scores:")
print(cosine_sim_scores)

print("Euclidean Distance Scores:")
print(euclidean_dist_scores)

print("Jaccard Similarity Scores:")
print(jaccard_sim_scores)

ValueError: Boolean array expected for the condition, not int32

In [46]:
# NOTE: Having some issues with this problem, will not be able to complete it on time, skipping 
# this question.

In [47]:
"""
Q-4. Imagine you working as a sale manager now you need to predict the Revenue
and whether that particular revenue is on the weekend or not and find the
Informational_Duration using the Ensemble learning algorithm
"""

# Solution

df3 = pd.read_csv('online_shoppers_intention.csv')
df3

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,1,1,1,1,Returning_Visitor,False,False
1,0,0.0,0,0.0,2,64.000000,0.000000,0.100000,0.000000,0.0,Feb,2,2,1,2,Returning_Visitor,False,False
2,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,4,1,9,3,Returning_Visitor,False,False
3,0,0.0,0,0.0,2,2.666667,0.050000,0.140000,0.000000,0.0,Feb,3,2,2,4,Returning_Visitor,False,False
4,0,0.0,0,0.0,10,627.500000,0.020000,0.050000,0.000000,0.0,Feb,3,3,1,4,Returning_Visitor,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12325,3,145.0,0,0.0,53,1783.791667,0.007143,0.029031,12.241717,0.0,Dec,4,6,1,1,Returning_Visitor,True,False
12326,0,0.0,0,0.0,5,465.750000,0.000000,0.021333,0.000000,0.0,Nov,3,2,1,8,Returning_Visitor,True,False
12327,0,0.0,0,0.0,6,184.250000,0.083333,0.086667,0.000000,0.0,Nov,3,2,1,13,Returning_Visitor,True,False
12328,4,75.0,0,0.0,15,346.000000,0.000000,0.021053,0.000000,0.0,Nov,2,2,3,11,Returning_Visitor,False,False
12329,0,0.0,0,0.0,3,21.250000,0.000000,0.066667,0.000000,0.0,Nov,3,2,1,2,New_Visitor,True,False

In [48]:
df3.dtypes

Administrative               int64
Administrative_Duration    float64
Informational                int64
Informational_Duration     float64
ProductRelated               int64
ProductRelated_Duration    float64
BounceRates                float64
ExitRates                  float64
PageValues                 float64
SpecialDay                 float64
Month                       object
OperatingSystems             int64
Browser                      int64
Region                       int64
TrafficType                  int64
VisitorType                 object
Weekend                       bool
Revenue                       bool
dtype: object

In [49]:
df3.isna().sum()

Administrative             0
Administrative_Duration    0
Informational              0
Informational_Duration     0
ProductRelated             0
ProductRelated_Duration    0
BounceRates                0
ExitRates                  0
PageValues                 0
SpecialDay                 0
Month                      0
OperatingSystems           0
Browser                    0
Region                     0
TrafficType                0
VisitorType                0
Weekend                    0
Revenue                    0
dtype: int64

In [50]:
df3['Month'].unique()

array(['Feb', 'Mar', 'May', 'Oct', 'June', 'Jul', 'Aug', 'Nov', 'Sep',
       'Dec'], dtype=object)

In [51]:
# Define a dictionary to map month numbers to month names
month_mapping = {
    "Feb":2,
    "Mar":3,
    "May":5,
    "June":6,
    "Jul":7,
    "Aug":8,
    "Sep":9,
    "Oct":10,
    "Nov":11,
    "Dec":12
}

df3["Month"] = df3["Month"].apply(lambda x: month_mapping.get(x))

In [52]:
df3

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,2,1,1,1,1,Returning_Visitor,False,False
1,0,0.0,0,0.0,2,64.000000,0.000000,0.100000,0.000000,0.0,2,2,2,1,2,Returning_Visitor,False,False
2,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,2,4,1,9,3,Returning_Visitor,False,False
3,0,0.0,0,0.0,2,2.666667,0.050000,0.140000,0.000000,0.0,2,3,2,2,4,Returning_Visitor,False,False
4,0,0.0,0,0.0,10,627.500000,0.020000,0.050000,0.000000,0.0,2,3,3,1,4,Returning_Visitor,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12325,3,145.0,0,0.0,53,1783.791667,0.007143,0.029031,12.241717,0.0,12,4,6,1,1,Returning_Visitor,True,False
12326,0,0.0,0,0.0,5,465.750000,0.000000,0.021333,0.000000,0.0,11,3,2,1,8,Returning_Visitor,True,False
12327,0,0.0,0,0.0,6,184.250000,0.083333,0.086667,0.000000,0.0,11,3,2,1,13,Returning_Visitor,True,False
12328,4,75.0,0,0.0,15,346.000000,0.000000,0.021053,0.000000,0.0,11,2,2,3,11,Returning_Visitor,False,False
12329,0,0.0,0,0.0,3,21.250000,0.000000,0.066667,0.000000,0.0,11,3,2,1,2,New_Visitor,True,False

In [53]:
df3['VisitorType'].unique()

array(['Returning_Visitor', 'New_Visitor', 'Other'], dtype=object)

In [54]:
# Define a dictionary to map visitor types
visitor_mapping = {
    "Returning_Visitor":1,
    "New_Visitor":2,
    "Other":3
}

df3["VisitorType"] = df3["VisitorType"].apply(lambda x: visitor_mapping.get(x))

In [55]:
df3

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,2,1,1,1,1,1,False,False
1,0,0.0,0,0.0,2,64.000000,0.000000,0.100000,0.000000,0.0,2,2,2,1,2,1,False,False
2,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,2,4,1,9,3,1,False,False
3,0,0.0,0,0.0,2,2.666667,0.050000,0.140000,0.000000,0.0,2,3,2,2,4,1,False,False
4,0,0.0,0,0.0,10,627.500000,0.020000,0.050000,0.000000,0.0,2,3,3,1,4,1,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12325,3,145.0,0,0.0,53,1783.791667,0.007143,0.029031,12.241717,0.0,12,4,6,1,1,1,True,False
12326,0,0.0,0,0.0,5,465.750000,0.000000,0.021333,0.000000,0.0,11,3,2,1,8,1,True,False
12327,0,0.0,0,0.0,6,184.250000,0.083333,0.086667,0.000000,0.0,11,3,2,1,13,1,True,False
12328,4,75.0,0,0.0,15,346.000000,0.000000,0.021053,0.000000,0.0,11,2,2,3,11,1,False,False
12329,0,0.0,0,0.0,3,21.250000,0.000000,0.066667,0.000000,0.0,11,3,2,1,2,2,True,False

In [56]:
df3['Weekend'].unique()

array([False,  True])

In [57]:
# Define a dictionary to map weekend and revenue columns
boolean_mapping = {
    True:0,
    False:1,
}

df3["Weekend"] = df3["Weekend"].apply(lambda x: boolean_mapping.get(x))
df3["Revenue"] = df3["Revenue"].apply(lambda x: boolean_mapping.get(x))

In [58]:
df3

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,2,1,1,1,1,1,1,1
1,0,0.0,0,0.0,2,64.000000,0.000000,0.100000,0.000000,0.0,2,2,2,1,2,1,1,1
2,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,2,4,1,9,3,1,1,1
3,0,0.0,0,0.0,2,2.666667,0.050000,0.140000,0.000000,0.0,2,3,2,2,4,1,1,1
4,0,0.0,0,0.0,10,627.500000,0.020000,0.050000,0.000000,0.0,2,3,3,1,4,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12325,3,145.0,0,0.0,53,1783.791667,0.007143,0.029031,12.241717,0.0,12,4,6,1,1,1,0,1
12326,0,0.0,0,0.0,5,465.750000,0.000000,0.021333,0.000000,0.0,11,3,2,1,8,1,0,1
12327,0,0.0,0,0.0,6,184.250000,0.083333,0.086667,0.000000,0.0,11,3,2,1,13,1,0,1
12328,4,75.0,0,0.0,15,346.000000,0.000000,0.021053,0.000000,0.0,11,2,2,3,11,1,1,1
12329,0,0.0,0,0.0,3,21.250000,0.000000,0.066667,0.000000,0.0,11,3,2,1,2,2,0,1

In [59]:
df3.columns

Index(['Administrative', 'Administrative_Duration', 'Informational',
       'Informational_Duration', 'ProductRelated', 'ProductRelated_Duration',
       'BounceRates', 'ExitRates', 'PageValues', 'SpecialDay', 'Month',
       'OperatingSystems', 'Browser', 'Region', 'TrafficType', 'VisitorType',
       'Weekend', 'Revenue'],
      dtype='object')

In [60]:
from sklearn.model_selection import train_test_split

X = df3.drop(['Revenue'], axis=1)
y = df3['Revenue']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [61]:
from sklearn.ensemble import RandomForestClassifier

# Create an instance of the Random Forest Classifier
rf_model = RandomForestClassifier()

# Train the model on the training data
rf_model.fit(X_train, y_train)

RandomForestClassifier()

In [62]:
y_pred = rf_model.predict(X_test)

In [63]:
y_pred

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [64]:
from sklearn.metrics import accuracy_score, classification_report

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Generate a classification report
report = classification_report(y_test, y_pred)
print("Classification Report:\n", report)

Accuracy: 0.8921330089213301
Classification Report:
               precision    recall  f1-score   support

           0       0.73      0.56      0.63       411
           1       0.92      0.96      0.94      2055

    accuracy                           0.89      2466
   macro avg       0.82      0.76      0.79      2466
weighted avg       0.88      0.89      0.89      2466

In [65]:
"""
Questin 5:
Uber is a taxi service provider as we know, we need to predict the high
booking area using an Unsupervised algorithm and price for the location using a
supervised algorithm and use some map function to display the data
"""

# Solution

df4 = pd.read_csv('rideshare_kaggle.csv')
df4

,id,timestamp,hour,day,month,datetime,timezone,source,destination,cab_type,...,precipIntensityMax,uvIndexTime,temperatureMin,temperatureMinTime,temperatureMax,temperatureMaxTime,apparentTemperatureMin,apparentTemperatureMinTime,apparentTemperatureMax,apparentTemperatureMaxTime
0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,1.544953e+09,9,16,12,2018-12-16 09:30:07,America/New_York,Haymarket Square,North Station,Lyft,...,0.1276,1544979600,39.89,1545012000,43.68,1544968800,33.73,1545012000,38.07,1544958000
1,4bd23055-6827-41c6-b23b-3c491f24e74d,1.543284e+09,2,27,11,2018-11-27 02:00:23,America/New_York,Haymarket Square,North Station,Lyft,...,0.1300,1543251600,40.49,1543233600,47.30,1543251600,36.20,1543291200,43.92,1543251600
2,981a3613-77af-4620-a42a-0c0866077d1e,1.543367e+09,1,28,11,2018-11-28 01:00:22,America/New_York,Haymarket Square,North Station,Lyft,...,0.1064,1543338000,35.36,1543377600,47.55,1543320000,31.04,1543377600,44.12,1543320000
3,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,1.543554e+09,4,30,11,2018-11-30 04:53:02,America/New_York,Haymarket Square,North Station,Lyft,...,0.0000,1543507200,34.67,1543550400,45.03,1543510800,30.30,1543550400,38.53,1543510800
4,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,1.543463e+09,3,29,11,2018-11-29 03:49:20,America/New_York,Haymarket Square,North Station,Lyft,...,0.0001,1543420800,33.10,1543402800,42.18,1543420800,29.11,1543392000,35.75,1543420800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
693066,616d3611-1820-450a-9845-a9ff304a4842,1.543708e+09,23,1,12,2018-12-01 23:53:05,America/New_York,West End,North End,Uber,...,0.0000,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800
693067,633a3fc3-1f86-4b9e-9d48-2b7132112341,1.543708e+09,23,1,12,2018-12-01 23:53:05,America/New_York,West End,North End,Uber,...,0.0000,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800
693068,64d451d0-639f-47a4-9b7c-6fd92fbd264f,1.543708e+09,23,1,12,2018-12-01 23:53:05,America/New_York,West End,North End,Uber,...,0.0000,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800
693069,727e5f07-a96b-4ad1-a2c7-9abc3ad55b4e,1.543708e+09,23,1,12,2018-12-01 23:53:05,America/New_York,West End,North End,Uber,...,0.0000,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800
693070,e7fdc087-fe86-40a5-a3c3-3b2a8badcbda,1.543708e+09,23,1,12,2018-12-01 23:53:05,America/New_York,West End,North End,Uber,...,0.0000,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800

In [66]:
df4.columns

Index(['id', 'timestamp', 'hour', 'day', 'month', 'datetime', 'timezone',
       'source', 'destination', 'cab_type', 'product_id', 'name', 'price',
       'distance', 'surge_multiplier', 'latitude', 'longitude', 'temperature',
       'apparentTemperature', 'short_summary', 'long_summary',
       'precipIntensity', 'precipProbability', 'humidity', 'windSpeed',
       'windGust', 'windGustTime', 'visibility', 'temperatureHigh',
       'temperatureHighTime', 'temperatureLow', 'temperatureLowTime',
       'apparentTemperatureHigh', 'apparentTemperatureHighTime',
       'apparentTemperatureLow', 'apparentTemperatureLowTime', 'icon',
       'dewPoint', 'pressure', 'windBearing', 'cloudCover', 'uvIndex',
       'visibility.1', 'ozone', 'sunriseTime', 'sunsetTime', 'moonPhase',
       'precipIntensityMax', 'uvIndexTime', 'temperatureMin',
       'temperatureMinTime', 'temperatureMax', 'temperatureMaxTime',
       'apparentTemperatureMin', 'apparentTemperatureMinTime',
       'apparentTemperatureMax', 'apparentTemperatureMaxTime'],
      dtype='object')

In [67]:
df4.dtypes

id                              object
timestamp                      float64
hour                             int64
day                              int64
month                            int64
datetime                        object
timezone                        object
source                          object
destination                     object
cab_type                        object
product_id                      object
name                            object
price                          float64
distance                       float64
surge_multiplier               float64
latitude                       float64
longitude                      float64
temperature                    float64
apparentTemperature            float64
short_summary                   object
long_summary                    object
precipIntensity                float64
precipProbability              float64
humidity                       float64
windSpeed                      float64
windGust                       float64
windGustTime                     int64
visibility                     float64
temperatureHigh                float64
temperatureHighTime              int64
temperatureLow                 float64
temperatureLowTime               int64
apparentTemperatureHigh        float64
apparentTemperatureHighTime      int64
apparentTemperatureLow         float64
apparentTemperatureLowTime       int64
icon                            object
dewPoint                       float64
pressure                       float64
windBearing                      int64
cloudCover                     float64
uvIndex                          int64
visibility.1                   float64
ozone                          float64
sunriseTime                      int64
sunsetTime                       int64
moonPhase                      float64
precipIntensityMax             float64
uvIndexTime                      int64
temperatureMin                 float64
temperatureMinTime               int64
temperatureMax                 float64
temperatureMaxTime               int64
apparentTemperatureMin         float64
apparentTemperatureMinTime       int64
apparentTemperatureMax         float64
apparentTemperatureMaxTime       int64
dtype: object

In [68]:
df4.isna().sum()

id                                 0
timestamp                          0
hour                               0
day                                0
month                              0
datetime                           0
timezone                           0
source                             0
destination                        0
cab_type                           0
product_id                         0
name                               0
price                          55095
distance                           0
surge_multiplier                   0
latitude                           0
longitude                          0
temperature                        0
apparentTemperature                0
short_summary                      0
long_summary                       0
precipIntensity                    0
precipProbability                  0
humidity                           0
windSpeed                          0
windGust                           0
windGustTime                       0
visibility                         0
temperatureHigh                    0
temperatureHighTime                0
temperatureLow                     0
temperatureLowTime                 0
apparentTemperatureHigh            0
apparentTemperatureHighTime        0
apparentTemperatureLow             0
apparentTemperatureLowTime         0
icon                               0
dewPoint                           0
pressure                           0
windBearing                        0
cloudCover                         0
uvIndex                            0
visibility.1                       0
ozone                              0
sunriseTime                        0
sunsetTime                         0
moonPhase                          0
precipIntensityMax                 0
uvIndexTime                        0
temperatureMin                     0
temperatureMinTime                 0
temperatureMax                     0
temperatureMaxTime                 0
apparentTemperatureMin             0
apparentTemperatureMinTime         0
apparentTemperatureMax             0
apparentTemperatureMaxTime         0
dtype: int64

In [69]:
df4['short_summary']

0          Mostly Cloudy
1                   Rain
2                  Clear
3                  Clear
4          Partly Cloudy
               ...
693066     Partly Cloudy
693067     Partly Cloudy
693068     Partly Cloudy
693069     Partly Cloudy
693070     Partly Cloudy
Name: short_summary, Length: 693071, dtype: object

In [70]:
df4['long_summary']

0                                 Rain throughout the day.
1          Rain until morning, starting again in the eve...
2                               Light rain in the morning.
3                        Partly cloudy throughout the day.
4                        Mostly cloudy throughout the day.
                                ...
693066            Light rain in the morning and overnight.
693067            Light rain in the morning and overnight.
693068            Light rain in the morning and overnight.
693069            Light rain in the morning and overnight.
693070            Light rain in the morning and overnight.
Name: long_summary, Length: 693071, dtype: object

In [71]:
df4.drop(columns = ['long_summary','id','product_id'], inplace = True)

In [72]:
df4

,timestamp,hour,day,month,datetime,timezone,source,destination,cab_type,name,...,precipIntensityMax,uvIndexTime,temperatureMin,temperatureMinTime,temperatureMax,temperatureMaxTime,apparentTemperatureMin,apparentTemperatureMinTime,apparentTemperatureMax,apparentTemperatureMaxTime
0,1.544953e+09,9,16,12,2018-12-16 09:30:07,America/New_York,Haymarket Square,North Station,Lyft,Shared,...,0.1276,1544979600,39.89,1545012000,43.68,1544968800,33.73,1545012000,38.07,1544958000
1,1.543284e+09,2,27,11,2018-11-27 02:00:23,America/New_York,Haymarket Square,North Station,Lyft,Lux,...,0.1300,1543251600,40.49,1543233600,47.30,1543251600,36.20,1543291200,43.92,1543251600
2,1.543367e+09,1,28,11,2018-11-28 01:00:22,America/New_York,Haymarket Square,North Station,Lyft,Lyft,...,0.1064,1543338000,35.36,1543377600,47.55,1543320000,31.04,1543377600,44.12,1543320000
3,1.543554e+09,4,30,11,2018-11-30 04:53:02,America/New_York,Haymarket Square,North Station,Lyft,Lux Black XL,...,0.0000,1543507200,34.67,1543550400,45.03,1543510800,30.30,1543550400,38.53,1543510800
4,1.543463e+09,3,29,11,2018-11-29 03:49:20,America/New_York,Haymarket Square,North Station,Lyft,Lyft XL,...,0.0001,1543420800,33.10,1543402800,42.18,1543420800,29.11,1543392000,35.75,1543420800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
693066,1.543708e+09,23,1,12,2018-12-01 23:53:05,America/New_York,West End,North End,Uber,UberXL,...,0.0000,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800
693067,1.543708e+09,23,1,12,2018-12-01 23:53:05,America/New_York,West End,North End,Uber,UberX,...,0.0000,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800
693068,1.543708e+09,23,1,12,2018-12-01 23:53:05,America/New_York,West End,North End,Uber,Taxi,...,0.0000,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800
693069,1.543708e+09,23,1,12,2018-12-01 23:53:05,America/New_York,West End,North End,Uber,Black SUV,...,0.0000,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800
693070,1.543708e+09,23,1,12,2018-12-01 23:53:05,America/New_York,West End,North End,Uber,UberPool,...,0.0000,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800

In [73]:
df4['datetime']

0         2018-12-16 09:30:07
1         2018-11-27 02:00:23
2         2018-11-28 01:00:22
3         2018-11-30 04:53:02
4         2018-11-29 03:49:20
                 ...
693066    2018-12-01 23:53:05
693067    2018-12-01 23:53:05
693068    2018-12-01 23:53:05
693069    2018-12-01 23:53:05
693070    2018-12-01 23:53:05
Name: datetime, Length: 693071, dtype: object

In [74]:
df4.drop(columns = ['hour', 'day', 'month'], inplace = True)

In [75]:
df4['datetime'] = pd.to_datetime(df4['datetime'])

In [76]:
df4.dtypes

timestamp                             float64
datetime                       datetime64[ns]
timezone                               object
source                                 object
destination                            object
cab_type                               object
name                                   object
price                                 float64
distance                              float64
surge_multiplier                      float64
latitude                              float64
longitude                             float64
temperature                           float64
apparentTemperature                   float64
short_summary                          object
precipIntensity                       float64
precipProbability                     float64
humidity                              float64
windSpeed                             float64
windGust                              float64
windGustTime                            int64
visibility                            float64
temperatureHigh                       float64
temperatureHighTime                     int64
temperatureLow                        float64
temperatureLowTime                      int64
apparentTemperatureHigh               float64
apparentTemperatureHighTime             int64
apparentTemperatureLow                float64
apparentTemperatureLowTime              int64
icon                                   object
dewPoint                              float64
pressure                              float64
windBearing                             int64
cloudCover                            float64
uvIndex                                 int64
visibility.1                          float64
ozone                                 float64
sunriseTime                             int64
sunsetTime                              int64
moonPhase                             float64
precipIntensityMax                    float64
uvIndexTime                             int64
temperatureMin                        float64
temperatureMinTime                      int64
temperatureMax                        float64
temperatureMaxTime                      int64
apparentTemperatureMin                float64
apparentTemperatureMinTime              int64
apparentTemperatureMax                float64
apparentTemperatureMaxTime              int64
dtype: object

In [77]:
df4['icon']

0          partly-cloudy-night
1                         rain
2                  clear-night
3                  clear-night
4          partly-cloudy-night
                  ...
693066     partly-cloudy-night
693067     partly-cloudy-night
693068     partly-cloudy-night
693069     partly-cloudy-night
693070     partly-cloudy-night
Name: icon, Length: 693071, dtype: object

In [78]:
df4.drop(columns = 'icon', inplace = True)

In [79]:
from sklearn.preprocessing import LabelEncoder

# Assuming you have a DataFrame named 'df' with categorical columns 'type', 'car', 'et'
le = LabelEncoder()

df4['timezone'] = le.fit_transform(df4['timezone'])
df4['source'] = le.fit_transform(df4['source'])
df4['destination'] = le.fit_transform(df4['destination'])
df4['cab_type'] = le.fit_transform(df4['cab_type'])
df4['name'] = le.fit_transform(df4['name'])
df4['short_summary'] = le.fit_transform(df4['short_summary'])
df4['name'] = le.fit_transform(df4['name'])

In [80]:
df4

,timestamp,datetime,timezone,source,destination,cab_type,name,price,distance,surge_multiplier,...,precipIntensityMax,uvIndexTime,temperatureMin,temperatureMinTime,temperatureMax,temperatureMaxTime,apparentTemperatureMin,apparentTemperatureMinTime,apparentTemperatureMax,apparentTemperatureMaxTime
0,1.544953e+09,2018-12-16 09:30:07,0,5,7,0,7,5.0,0.44,1.0,...,0.1276,1544979600,39.89,1545012000,43.68,1544968800,33.73,1545012000,38.07,1544958000
1,1.543284e+09,2018-11-27 02:00:23,0,5,7,0,2,11.0,0.44,1.0,...,0.1300,1543251600,40.49,1543233600,47.30,1543251600,36.20,1543291200,43.92,1543251600
2,1.543367e+09,2018-11-28 01:00:22,0,5,7,0,5,7.0,0.44,1.0,...,0.1064,1543338000,35.36,1543377600,47.55,1543320000,31.04,1543377600,44.12,1543320000
3,1.543554e+09,2018-11-30 04:53:02,0,5,7,0,4,26.0,0.44,1.0,...,0.0000,1543507200,34.67,1543550400,45.03,1543510800,30.30,1543550400,38.53,1543510800
4,1.543463e+09,2018-11-29 03:49:20,0,5,7,0,6,9.0,0.44,1.0,...,0.0001,1543420800,33.10,1543402800,42.18,1543420800,29.11,1543392000,35.75,1543420800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
693066,1.543708e+09,2018-12-01 23:53:05,0,11,6,1,11,13.0,1.00,1.0,...,0.0000,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800
693067,1.543708e+09,2018-12-01 23:53:05,0,11,6,1,10,9.5,1.00,1.0,...,0.0000,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800
693068,1.543708e+09,2018-12-01 23:53:05,0,11,6,1,8,NaN,1.00,1.0,...,0.0000,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800
693069,1.543708e+09,2018-12-01 23:53:05,0,11,6,1,1,27.0,1.00,1.0,...,0.0000,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800
693070,1.543708e+09,2018-12-01 23:53:05,0,11,6,1,9,10.0,1.00,1.0,...,0.0000,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800

In [81]:
df4['price']

0          5.0
1         11.0
2          7.0
3         26.0
4          9.0
          ...
693066    13.0
693067     9.5
693068     NaN
693069    27.0
693070    10.0
Name: price, Length: 693071, dtype: float64

In [82]:
df4.dropna(inplace = True)

In [83]:
df4.isna().sum()

timestamp                      0
datetime                       0
timezone                       0
source                         0
destination                    0
cab_type                       0
name                           0
price                          0
distance                       0
surge_multiplier               0
latitude                       0
longitude                      0
temperature                    0
apparentTemperature            0
short_summary                  0
precipIntensity                0
precipProbability              0
humidity                       0
windSpeed                      0
windGust                       0
windGustTime                   0
visibility                     0
temperatureHigh                0
temperatureHighTime            0
temperatureLow                 0
temperatureLowTime             0
apparentTemperatureHigh        0
apparentTemperatureHighTime    0
apparentTemperatureLow         0
apparentTemperatureLowTime     0
dewPoint                       0
pressure                       0
windBearing                    0
cloudCover                     0
uvIndex                        0
visibility.1                   0
ozone                          0
sunriseTime                    0
sunsetTime                     0
moonPhase                      0
precipIntensityMax             0
uvIndexTime                    0
temperatureMin                 0
temperatureMinTime             0
temperatureMax                 0
temperatureMaxTime             0
apparentTemperatureMin         0
apparentTemperatureMinTime     0
apparentTemperatureMax         0
apparentTemperatureMaxTime     0
dtype: int64

In [84]:
df4

,timestamp,datetime,timezone,source,destination,cab_type,name,price,distance,surge_multiplier,...,precipIntensityMax,uvIndexTime,temperatureMin,temperatureMinTime,temperatureMax,temperatureMaxTime,apparentTemperatureMin,apparentTemperatureMinTime,apparentTemperatureMax,apparentTemperatureMaxTime
0,1.544953e+09,2018-12-16 09:30:07,0,5,7,0,7,5.0,0.44,1.0,...,0.1276,1544979600,39.89,1545012000,43.68,1544968800,33.73,1545012000,38.07,1544958000
1,1.543284e+09,2018-11-27 02:00:23,0,5,7,0,2,11.0,0.44,1.0,...,0.1300,1543251600,40.49,1543233600,47.30,1543251600,36.20,1543291200,43.92,1543251600
2,1.543367e+09,2018-11-28 01:00:22,0,5,7,0,5,7.0,0.44,1.0,...,0.1064,1543338000,35.36,1543377600,47.55,1543320000,31.04,1543377600,44.12,1543320000
3,1.543554e+09,2018-11-30 04:53:02,0,5,7,0,4,26.0,0.44,1.0,...,0.0000,1543507200,34.67,1543550400,45.03,1543510800,30.30,1543550400,38.53,1543510800
4,1.543463e+09,2018-11-29 03:49:20,0,5,7,0,6,9.0,0.44,1.0,...,0.0001,1543420800,33.10,1543402800,42.18,1543420800,29.11,1543392000,35.75,1543420800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
693065,1.543708e+09,2018-12-01 23:53:05,0,11,6,1,12,9.5,1.00,1.0,...,0.0000,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800
693066,1.543708e+09,2018-12-01 23:53:05,0,11,6,1,11,13.0,1.00,1.0,...,0.0000,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800
693067,1.543708e+09,2018-12-01 23:53:05,0,11,6,1,10,9.5,1.00,1.0,...,0.0000,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800
693069,1.543708e+09,2018-12-01 23:53:05,0,11,6,1,1,27.0,1.00,1.0,...,0.0000,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800
693070,1.543708e+09,2018-12-01 23:53:05,0,11,6,1,9,10.0,1.00,1.0,...,0.0000,1543683600,31.42,1543658400,44.76,1543690800,27.77,1543658400,44.09,1543690800

In [85]:
from sklearn.cluster import KMeans
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

booking_areas_df = df4[['latitude', 'longitude']]  # Selecting relevant features for high booking areas
prices_df = df4[['latitude', 'longitude', 'price']]  # Selecting features for location prices

# Step 2: Unsupervised Learning - Predicting High Booking Areas

kmeans = KMeans(n_clusters=3)  # Specify the number of clusters
booking_areas_df['cluster'] = kmeans.fit_predict(booking_areas_df)

# Step 3: Supervised Learning - Predicting Location Prices

X = prices_df[['latitude', 'longitude']]
y = prices_df['price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")

C:\Users\HP\AppData\Roaming\Python\Python39\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
C:\Users\HP\AppData\Local\Temp\ipykernel_12120\2221080808.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  booking_areas_df['cluster'] = kmeans.fit_predict(booking_areas_df)

Mean Squared Error: 87.18083714909837

In [86]:
pip install folium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: folium in c:\users\hp\appdata\roaming\python\python39\site-packages (0.14.0)
Requirement already satisfied: branca>=0.6.0 in c:\users\hp\appdata\roaming\python\python39\site-packages (from folium) (0.6.0)
Requirement already satisfied: jinja2>=2.9 in c:\users\hp\appdata\roaming\python\python39\site-packages (from folium) (3.1.2)
Requirement already satisfied: numpy in c:\users\hp\appdata\roaming\python\python39\site-packages (from folium) (1.19.5)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from folium) (2.27.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\hp\appdata\roaming\python\python39\site-packages (from jinja2>=2.9->folium) (2.1.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests->folium) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->folium) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests->folium) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->folium) (3.3)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -rotobuf (c:\users\hp\appdata\roaming\python\python39\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\hp\appdata\roaming\python\python39\site-packages)

In [87]:
"""
import folium

# Calculate the average coordinates
avg_latitude = df4['latitude'].mean()
avg_longitude = df4['longitude'].mean()

# Create a map object centered at the average coordinates
map_center = [avg_latitude, avg_longitude]
zoom_level = 10
map_obj = folium.Map(location=map_center, zoom_start=zoom_level)

# Plot the locations with markers
for index, row in df4.iterrows():
    latitude = row['latitude']
    longitude = row['longitude']
    
    # Create a marker for each location
    marker = folium.Marker([latitude, longitude])
    
    # Add the marker to the map
    marker.add_to(map_obj)

# Display the map
map_obj
"""

"\nimport folium\n\n# Calculate the average coordinates\navg_latitude = df4['latitude'].mean()\navg_longitude = df4['longitude'].mean()\n\n# Create a map object centered at the average coordinates\nmap_center = [avg_latitude, avg_longitude]\nzoom_level = 10\nmap_obj = folium.Map(location=map_center, zoom_start=zoom_level)\n\n# Plot the locations with markers\nfor index, row in df4.iterrows():\n    latitude = row['latitude']\n    longitude = row['longitude']\n    \n    # Create a marker for each location\n    marker = folium.Marker([latitude, longitude])\n    \n    # Add the marker to the map\n    marker.add_to(map_obj)\n\n# Display the map\nmap_obj\n"

In [88]:
"""
Q-6. Imagine you have a dataset where you have predicted loan Eligibility using any
4 different classification algorithms. Now you have to build a model which can
predict loan Eligibility and you need to find the accuracy of the model and built-in
docker and use some library to display that in frontend.
"""

# NOTE: THIS IS A PRIVATE DATASET AND I CANNOT ACCESS IT FROM THE LINK PROVIDED.

'\nQ-6. Imagine you have a dataset where you have predicted loan Eligibility using any\n4 different classification algorithms. Now you have to build a model which can\npredict loan Eligibility and you need to find the accuracy of the model and built-in\ndocker and use some library to display that in frontend.\n'

In [89]:
"""
Q-7. Imagine you have a dataset where you need to predict the Genres of Music
using
an Unsupervised algorithm and you need to find the accuracy of the model, built-in
docker, and use some library to display that in frontend
"""

# Solution

df5m = pd.read_csv('music_data.csv')
df5g = pd.read_csv('data_2genre.csv')

In [90]:
df5m

,filename,tempo,beats,chroma_stft,rmse,spectral_centroid,spectral_bandwidth,rolloff,zero_crossing_rate,mfcc1,...,mfcc12,mfcc13,mfcc14,mfcc15,mfcc16,mfcc17,mfcc18,mfcc19,mfcc20,label
0,blues.00081.au,103.359375,50,0.380260,0.248262,2116.942959,1956.611056,4196.107960,0.127272,-26.929785,...,14.336612,-13.821769,7.562789,-6.181372,0.330165,-6.829571,0.965922,-7.570825,2.918987,blues
1,blues.00022.au,95.703125,44,0.306451,0.113475,1156.070496,1497.668176,2170.053545,0.058613,-233.860772,...,-2.250578,3.959198,5.322555,0.812028,-1.107202,-4.556555,-2.436490,3.316913,-0.608485,blues
2,blues.00031.au,151.999081,75,0.253487,0.151571,1331.073970,1973.643437,2900.174130,0.042967,-221.802549,...,-13.037723,-12.652228,-1.821905,-7.260097,-6.660252,-14.682694,-11.719264,-11.025216,-13.387260,blues
3,blues.00012.au,184.570312,91,0.269320,0.119072,1361.045467,1567.804596,2739.625101,0.069124,-207.208080,...,-0.613248,0.384877,2.605128,-5.188924,-9.527455,-9.244394,-2.848274,-1.418707,-5.932607,blues
4,blues.00056.au,161.499023,74,0.391059,0.137728,1811.076084,2052.332563,3927.809582,0.075480,-145.434568,...,7.457218,-10.470444,-2.360483,-6.783623,2.671134,-4.760879,-0.949005,0.024832,-2.005315,blues
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,rock.00017.au,123.046875,59,0.418812,0.166056,2312.030070,2060.825761,4528.197619,0.140588,-41.402023,...,11.303100,-14.155566,2.824157,-9.477822,3.331261,-8.200088,3.693091,-3.673562,-0.163201,rock
996,rock.00081.au,117.453835,56,0.335774,0.093676,2553.856706,2219.090892,5123.752351,0.136173,-121.410791,...,9.149520,-10.112054,4.211237,-9.349345,1.609701,-10.553566,1.066489,-1.654875,7.544224,rock
997,rock.00004.au,103.359375,45,0.372834,0.208743,1345.850763,1841.748033,2939.265560,0.041099,-127.946876,...,11.043714,-8.385375,2.111019,-6.338260,0.997383,-5.325869,-0.842192,-4.665996,-4.787677,rock
998,rock.00006.au,112.347147,45,0.344472,0.180163,1675.475369,1653.422860,3253.563659,0.087294,-98.356322,...,2.945863,-12.509212,0.091337,-0.774780,-5.700102,-8.630916,-1.903803,-2.196753,-3.395148,rock
999,rock.00066.au,75.999540,36,0.360098,0.042995,2209.357588,2175.214294,4575.588999,0.107147,-245.160921,...,0.813777,-13.018359,0.053168,-8.232851,1.059255,-8.031864,-0.397097,-4.349921,-4.220998,rock

In [91]:
df5g

,filename,tempo,beats,chroma_stft,rmse,spectral_centroid,spectral_bandwidth,rolloff,zero_crossing_rate,mfcc1,...,mfcc12,mfcc13,mfcc14,mfcc15,mfcc16,mfcc17,mfcc18,mfcc19,mfcc20,label
0,pop.00024.au,117.453835,57,0.410990,0.207584,3301.781785,3175.656592,7302.597509,0.144527,-40.802069,...,-0.568772,0.552448,-1.981371,1.915755,0.076505,-1.270496,1.233082,1.493700,0.949931,1
1,pop.00099.au,78.302557,38,0.360462,0.138195,2765.747194,3222.713605,6873.391771,0.096015,-119.320605,...,1.566938,-2.932391,-1.609138,-0.200545,-2.429376,1.207988,5.848729,1.609469,7.580263,1
2,pop.00009.au,107.666016,50,0.454810,0.159711,3279.877315,3026.391118,6953.099622,0.172819,-35.277026,...,-0.518891,0.212918,-1.294660,-0.105626,-1.245879,-2.528455,0.571032,1.569434,-1.724873,1
3,pop.00078.au,103.359375,52,0.454698,0.223419,3124.176350,2970.320532,6618.134981,0.142721,-42.757179,...,3.020176,-1.242321,-3.524069,-0.325165,-1.443294,-1.864617,-0.031307,-0.729631,-0.987611,1
4,pop.00037.au,103.359375,51,0.451668,0.240985,3236.413205,2953.596262,6698.776160,0.164825,4.821123,...,1.753352,3.336132,2.352307,1.428845,-0.604926,-2.185691,-1.602394,-0.612146,-4.050126,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,classical.00020.au,143.554688,69,0.269065,0.038438,1218.290508,1353.616224,2295.177788,0.069813,-300.937697,...,-1.808325,-4.104602,-2.045668,-1.596437,0.646648,1.454414,-0.221094,-1.292084,-7.100527,2
196,classical.00072.au,117.453835,57,0.279421,0.020732,1284.921775,1659.622614,2476.568358,0.063750,-360.821769,...,4.684600,3.343187,-2.251255,-1.852868,2.215029,1.784788,-1.519674,-3.253521,3.998950,2
197,classical.00061.au,151.999081,76,0.281670,0.048189,1322.026416,1590.233329,2473.626709,0.076126,-274.426858,...,-4.592368,-1.540610,-3.028737,-4.697145,-7.715005,-7.212517,-5.410751,-5.246985,-5.270150,2
198,classical.00008.au,135.999178,67,0.254774,0.034038,1516.626219,1629.500705,2973.782018,0.078788,-292.128300,...,4.709107,0.377206,1.464333,3.393674,6.076538,0.963429,-0.753660,-2.105312,0.755132,2
199,classical.00084.au,112.347147,25,0.245491,0.021982,1001.400439,1151.028078,1731.722862,0.057948,-369.184224,...,-9.797995,-5.051084,-5.084386,-3.038442,-1.718458,-1.849090,-2.257478,-1.273307,-0.441167,2

In [92]:
df5m.dtypes

filename               object
tempo                 float64
beats                   int64
chroma_stft           float64
rmse                  float64
spectral_centroid     float64
spectral_bandwidth    float64
rolloff               float64
zero_crossing_rate    float64
mfcc1                 float64
mfcc2                 float64
mfcc3                 float64
mfcc4                 float64
mfcc5                 float64
mfcc6                 float64
mfcc7                 float64
mfcc8                 float64
mfcc9                 float64
mfcc10                float64
mfcc11                float64
mfcc12                float64
mfcc13                float64
mfcc14                float64
mfcc15                float64
mfcc16                float64
mfcc17                float64
mfcc18                float64
mfcc19                float64
mfcc20                float64
label                  object
dtype: object

In [94]:
df5g.dtypes

filename               object
tempo                 float64
beats                   int64
chroma_stft           float64
rmse                  float64
spectral_centroid     float64
spectral_bandwidth    float64
rolloff               float64
zero_crossing_rate    float64
mfcc1                 float64
mfcc2                 float64
mfcc3                 float64
mfcc4                 float64
mfcc5                 float64
mfcc6                 float64
mfcc7                 float64
mfcc8                 float64
mfcc9                 float64
mfcc10                float64
mfcc11                float64
mfcc12                float64
mfcc13                float64
mfcc14                float64
mfcc15                float64
mfcc16                float64
mfcc17                float64
mfcc18                float64
mfcc19                float64
mfcc20                float64
label                   int64
dtype: object

In [97]:
df5g.drop(columns = ['filename'], inplace = True)

In [98]:
df5g

,tempo,beats,chroma_stft,rmse,spectral_centroid,spectral_bandwidth,rolloff,zero_crossing_rate,mfcc1,mfcc2,...,mfcc12,mfcc13,mfcc14,mfcc15,mfcc16,mfcc17,mfcc18,mfcc19,mfcc20,label
0,117.453835,57,0.410990,0.207584,3301.781785,3175.656592,7302.597509,0.144527,-40.802069,61.522054,...,-0.568772,0.552448,-1.981371,1.915755,0.076505,-1.270496,1.233082,1.493700,0.949931,1
1,78.302557,38,0.360462,0.138195,2765.747194,3222.713605,6873.391771,0.096015,-119.320605,85.941142,...,1.566938,-2.932391,-1.609138,-0.200545,-2.429376,1.207988,5.848729,1.609469,7.580263,1
2,107.666016,50,0.454810,0.159711,3279.877315,3026.391118,6953.099622,0.172819,-35.277026,61.242109,...,-0.518891,0.212918,-1.294660,-0.105626,-1.245879,-2.528455,0.571032,1.569434,-1.724873,1
3,103.359375,52,0.454698,0.223419,3124.176350,2970.320532,6618.134981,0.142721,-42.757179,62.799474,...,3.020176,-1.242321,-3.524069,-0.325165,-1.443294,-1.864617,-0.031307,-0.729631,-0.987611,1
4,103.359375,51,0.451668,0.240985,3236.413205,2953.596262,6698.776160,0.164825,4.821123,64.495215,...,1.753352,3.336132,2.352307,1.428845,-0.604926,-2.185691,-1.602394,-0.612146,-4.050126,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,143.554688,69,0.269065,0.038438,1218.290508,1353.616224,2295.177788,0.069813,-300.937697,161.111154,...,-1.808325,-4.104602,-2.045668,-1.596437,0.646648,1.454414,-0.221094,-1.292084,-7.100527,2
196,117.453835,57,0.279421,0.020732,1284.921775,1659.622614,2476.568358,0.063750,-360.821769,138.999302,...,4.684600,3.343187,-2.251255,-1.852868,2.215029,1.784788,-1.519674,-3.253521,3.998950,2
197,151.999081,76,0.281670,0.048189,1322.026416,1590.233329,2473.626709,0.076126,-274.426858,148.374498,...,-4.592368,-1.540610,-3.028737,-4.697145,-7.715005,-7.212517,-5.410751,-5.246985,-5.270150,2
198,135.999178,67,0.254774,0.034038,1516.626219,1629.500705,2973.782018,0.078788,-292.128300,127.769046,...,4.709107,0.377206,1.464333,3.393674,6.076538,0.963429,-0.753660,-2.105312,0.755132,2
199,112.347147,25,0.245491,0.021982,1001.400439,1151.028078,1731.722862,0.057948,-369.184224,171.986997,...,-9.797995,-5.051084,-5.084386,-3.038442,-1.718458,-1.849090,-2.257478,-1.273307,-0.441167,2

In [101]:
df5g.drop(columns = 'label', inplace = True)

In [102]:
df5g

,tempo,beats,chroma_stft,rmse,spectral_centroid,spectral_bandwidth,rolloff,zero_crossing_rate,mfcc1,mfcc2,...,mfcc11,mfcc12,mfcc13,mfcc14,mfcc15,mfcc16,mfcc17,mfcc18,mfcc19,mfcc20
0,117.453835,57,0.410990,0.207584,3301.781785,3175.656592,7302.597509,0.144527,-40.802069,61.522054,...,-0.101842,-0.568772,0.552448,-1.981371,1.915755,0.076505,-1.270496,1.233082,1.493700,0.949931
1,78.302557,38,0.360462,0.138195,2765.747194,3222.713605,6873.391771,0.096015,-119.320605,85.941142,...,-7.978898,1.566938,-2.932391,-1.609138,-0.200545,-2.429376,1.207988,5.848729,1.609469,7.580263
2,107.666016,50,0.454810,0.159711,3279.877315,3026.391118,6953.099622,0.172819,-35.277026,61.242109,...,-7.257869,-0.518891,0.212918,-1.294660,-0.105626,-1.245879,-2.528455,0.571032,1.569434,-1.724873
3,103.359375,52,0.454698,0.223419,3124.176350,2970.320532,6618.134981,0.142721,-42.757179,62.799474,...,-4.773778,3.020176,-1.242321,-3.524069,-0.325165,-1.443294,-1.864617,-0.031307,-0.729631,-0.987611
4,103.359375,51,0.451668,0.240985,3236.413205,2953.596262,6698.776160,0.164825,4.821123,64.495215,...,3.275973,1.753352,3.336132,2.352307,1.428845,-0.604926,-2.185691,-1.602394,-0.612146,-4.050126
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,143.554688,69,0.269065,0.038438,1218.290508,1353.616224,2295.177788,0.069813,-300.937697,161.111154,...,-8.132076,-1.808325,-4.104602,-2.045668,-1.596437,0.646648,1.454414,-0.221094,-1.292084,-7.100527
196,117.453835,57,0.279421,0.020732,1284.921775,1659.622614,2476.568358,0.063750,-360.821769,138.999302,...,0.504210,4.684600,3.343187,-2.251255,-1.852868,2.215029,1.784788,-1.519674,-3.253521,3.998950
197,151.999081,76,0.281670,0.048189,1322.026416,1590.233329,2473.626709,0.076126,-274.426858,148.374498,...,-5.915319,-4.592368,-1.540610,-3.028737,-4.697145,-7.715005,-7.212517,-5.410751,-5.246985,-5.270150
198,135.999178,67,0.254774,0.034038,1516.626219,1629.500705,2973.782018,0.078788,-292.128300,127.769046,...,-9.906081,4.709107,0.377206,1.464333,3.393674,6.076538,0.963429,-0.753660,-2.105312,0.755132
199,112.347147,25,0.245491,0.021982,1001.400439,1151.028078,1731.722862,0.057948,-369.184224,171.986997,...,-8.370093,-9.797995,-5.051084,-5.084386,-3.038442,-1.718458,-1.849090,-2.257478,-1.273307,-0.441167

In [105]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

# Assuming you have your preprocessed dataset as X

# Instantiate the K-means clustering algorithm
kmeans = KMeans(n_clusters=5)  # Specify the number of clusters you want to identify

# Fit the model to the data
kmeans.fit(df5g)

# Get the predicted cluster labels for the data points
cluster_labels = kmeans.labels_

# Calculate the Silhouette Score
silhouette_avg = silhouette_score(df5g, cluster_labels)
print("Silhouette Score:", silhouette_avg)

C:\Users\HP\AppData\Roaming\Python\Python39\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

Silhouette Score: 0.48520065056749945

In [1]:
import pandas as pd

In [3]:
"""
Q-8. Quora question pair similarity, you need to find the Similarity between two
questions by mapping the words in the questions using TF-IDF, and using a supervised
Algorithm you need to find the similarity between the questions.
"""

# Solution

df6 = pd.read_csv('quora train.csv')
df6

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0
...,...,...,...,...,...,...
404285,404285,433578,379845,How many keywords are there in the Racket prog...,How many keywords are there in PERL Programmin...,0
404286,404286,18840,155606,Do you believe there is life after death?,Is it true that there is life after death?,1
404287,404287,537928,537929,What is one coin?,What's this coin?,0
404288,404288,537930,537931,What is the approx annual cost of living while...,I am having little hairfall problem but I want...,0
404289,404289,537932,537933,What is like to have sex with cousin?,What is it like to have sex with your cousin?,0

In [4]:
df6.isna().sum()

id              0
qid1            0
qid2            0
question1       1
question2       2
is_duplicate    0
dtype: int64

In [5]:
df6.dropna(inplace = True)

In [6]:
df6.isna().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [7]:
df6.drop(columns = ['id','qid1', 'qid2'], inplace = True)

In [8]:
df6

,question1,question2,is_duplicate
0,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0
...,...,...,...
404285,How many keywords are there in the Racket prog...,How many keywords are there in PERL Programmin...,0
404286,Do you believe there is life after death?,Is it true that there is life after death?,1
404287,What is one coin?,What's this coin?,0
404288,What is the approx annual cost of living while...,I am having little hairfall problem but I want...,0
404289,What is like to have sex with cousin?,What is it like to have sex with your cousin?,0

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

In [10]:
# Data Cleaning
df6["question1"] = df6["question1"].str.replace('[^\w\s]', '')  # Remove punctuation from q1
df6["question2"] = df6["question2"].str.replace('[^\w\s]', '')  # Remove punctuation from q2

# Text Tokenization
df6["question1"] = df6["question1"].str.lower().str.split()  # Convert q1 to lowercase and split into tokens
df6["question2"] = df6["question2"].str.lower().str.split()  # Convert q2 to lowercase and split into tokens

C:\Users\lepum\AppData\Local\Temp\ipykernel_4136\2789702278.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df6["question1"] = df6["question1"].str.replace('[^\w\s]', '')  # Remove punctuation from q1
C:\Users\lepum\AppData\Local\Temp\ipykernel_4136\2789702278.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df6["question2"] = df6["question2"].str.replace('[^\w\s]', '')  # Remove punctuation from q2

In [11]:
df6

,question1,question2,is_duplicate
0,"[what, is, the, step, by, step, guide, to, inv...","[what, is, the, step, by, step, guide, to, inv...",0
1,"[what, is, the, story, of, kohinoor, kohinoor,...","[what, would, happen, if, the, indian, governm...",0
2,"[how, can, i, increase, the, speed, of, my, in...","[how, can, internet, speed, be, increased, by,...",0
3,"[why, am, i, mentally, very, lonely, how, can,...","[find, the, remainder, when, math2324math, is,...",0
4,"[which, one, dissolve, in, water, quikly, suga...","[which, fish, would, survive, in, salt, water]",0
...,...,...,...
404285,"[how, many, keywords, are, there, in, the, rac...","[how, many, keywords, are, there, in, perl, pr...",0
404286,"[do, you, believe, there, is, life, after, death]","[is, it, true, that, there, is, life, after, d...",1
404287,"[what, is, one, coin]","[whats, this, coin]",0
404288,"[what, is, the, approx, annual, cost, of, livi...","[i, am, having, little, hairfall, problem, but...",0
404289,"[what, is, like, to, have, sex, with, cousin]","[what, is, it, like, to, have, sex, with, your...",0

In [13]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\lepum\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [14]:
# Stop Words Removal
stop_words = set(stopwords.words("english"))
df6["question1"] = df6["question1"].apply(lambda x: [word for word in x if word not in stop_words])
df6["question2"] = df6["question2"].apply(lambda x: [word for word in x if word not in stop_words])

# Stemming
stemmer = PorterStemmer()
df6["question1"] = df6["question1"].apply(lambda x: " ".join([stemmer.stem(word) for word in x]))
df6["question2"] = df6["question2"].apply(lambda x: " ".join([stemmer.stem(word) for word in x]))

# Vectorization
vectorizer = TfidfVectorizer()
X1 = vectorizer.fit_transform(df6["question1"])  # Vectorize question1
X2 = vectorizer.transform(df6["question2"])  # Vectorize question2
X = X1 - X2  # Compute the difference between the vectors of question1 and question2
y = df6["is_duplicate"]

In [15]:
df6

,question1,question2,is_duplicate
0,step step guid invest share market india,step step guid invest share market,0
1,stori kohinoor kohinoor diamond,would happen indian govern stole kohinoor kohi...,0
2,increas speed internet connect use vpn,internet speed increas hack dn,0
3,mental lone solv,find remaind math2324math divid 2423,0
4,one dissolv water quikli sugar salt methan car...,fish would surviv salt water,0
...,...,...,...
404285,mani keyword racket program languag latest ver...,mani keyword perl program languag latest version,0
404286,believ life death,true life death,1
404287,one coin,what coin,0
404288,approx annual cost live studi uic chicago indi...,littl hairfal problem want use hair style prod...,0
404289,like sex cousin,like sex cousin,0

In [16]:
# Split Data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# Define a dictionary to store the models
models = {
    "Logistic Regression": LogisticRegression(),
    "SVM": SVC(),
    "Random Forest": RandomForestClassifier()
}

# Train and evaluate each model
for model_name, model in models.items():
    # Train the model
    model.fit(X_train, y_train)

    # Make predictions on the test set
    y_pred = model.predict(X_test)

    # Evaluate the model
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred)
    f1 = f1_score(y_test, y_pred)

    # Print the results
    print(f"Model: {model_name}")
    print(f"Accuracy: {accuracy}")
    print(f"Precision: {precision}")
    print(f"Recall: {recall}")
    print(f"F1 Score: {f1}")
    print("-------------------------------------")

C:\ProgramData\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Model: Logistic Regression
Accuracy: 0.6126419154567266
Precision: 0.3897527025025914
Recall: 0.0882274068114776
F1 Score: 0.1438841055077217
-------------------------------------

In [1]:
"""
Q-9. A cyber security agent wants to check the Microsoft Malware so need he came
to you as a Machine learning Engineering with Data, You need to find the Malware

using a supervised algorithm and you need to find the accuracy of the model.
Dataset This is the Dataset You can use this dataset for this question.
"""

'\nQ-9. A cyber security agent wants to check the Microsoft Malware so need he came\nto you as a Machine learning Engineering with Data, You need to find the Malware\n\nusing a supervised algorithm and you need to find the accuracy of the model.\nDataset This is the Dataset You can use this dataset for this question.\n'

In [2]:
import pandas as pd

In [48]:
# Solution 

df7 = pd.read_csv('malware_prediction.csv', nrows= 100000)

C:\Users\lepum\AppData\Local\Temp\ipykernel_18372\351519714.py:3: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  df7 = pd.read_csv('malware_prediction.csv', nrows= 100000)

In [49]:
df7

,MachineIdentifier,ProductName,EngineVersion,AppVersion,AvSigVersion,IsBeta,RtpStateBitfield,IsSxsPassiveMode,DefaultBrowsersIdentifier,AVProductStatesIdentifier,...,Census_FirmwareVersionIdentifier,Census_IsSecureBootEnabled,Census_IsWIMBootEnabled,Census_IsVirtualDevice,Census_IsTouchEnabled,Census_IsPenCapable,Census_IsAlwaysOnAlwaysConnectedCapable,Wdft_IsGamer,Wdft_RegionIdentifier,HasDetections
0,0000028988387b115f69f31a3bf04f09,win8defender,1.1.15100.1,4.18.1807.18075,1.273.1735.0,0,7.0,0,NaN,53447.0,...,36144.0,0,NaN,0.0,0,0,0.0,0.0,10.0,0
1,000007535c3f730efa9ea0b7ef1bd645,win8defender,1.1.14600.4,4.13.17134.1,1.263.48.0,0,7.0,0,NaN,53447.0,...,57858.0,0,NaN,0.0,0,0,0.0,0.0,8.0,0
2,000007905a28d863f6d0d597892cd692,win8defender,1.1.15100.1,4.18.1807.18075,1.273.1341.0,0,7.0,0,NaN,53447.0,...,52682.0,0,NaN,0.0,0,0,0.0,0.0,3.0,0
3,00000b11598a75ea8ba1beea8459149f,win8defender,1.1.15100.1,4.18.1807.18075,1.273.1527.0,0,7.0,0,NaN,53447.0,...,20050.0,0,NaN,0.0,0,0,0.0,0.0,3.0,1
4,000014a5f00daa18e76b81417eeb99fc,win8defender,1.1.15100.1,4.18.1807.18075,1.273.1379.0,0,7.0,0,NaN,53447.0,...,19844.0,0,0.0,0.0,0,0,0.0,0.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,02e11f9b051950ba19ef87553f24b3d2,win8defender,1.1.15200.1,4.8.10240.17443,1.275.193.0,0,7.0,0,NaN,42086.0,...,12456.0,1,0.0,0.0,0,0,0.0,0.0,15.0,0
99996,02e11ff750f98912e9073afe15bf5018,win8defender,1.1.15100.1,4.18.1806.18062,1.273.371.0,0,7.0,0,NaN,53447.0,...,43238.0,0,NaN,0.0,0,0,0.0,0.0,11.0,1
99997,02e120fd73a9b3981b80a879f1d94729,win8defender,1.1.15200.1,4.18.1807.18075,1.275.1244.0,0,7.0,0,NaN,7945.0,...,19844.0,0,0.0,0.0,0,0,0.0,0.0,8.0,0
99998,02e123408acf92064932e0900a42667b,win8defender,1.1.15200.1,4.18.1807.18075,1.275.1362.0,0,7.0,0,NaN,53447.0,...,52295.0,1,NaN,0.0,0,0,0.0,NaN,NaN,0
99999,02e125f54e5e4aefc7a42cae452fe9b2,win8defender,1.1.15200.1,4.10.14393.1613,1.275.46.0,0,7.0,0,NaN,53447.0,...,31835.0,1,0.0,0.0,0,0,0.0,0.0,3.0,0

In [50]:
col_lst = df7.dtypes.to_list()

In [51]:
col_lst

[dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('int64'),
 dtype('float64'),
 dtype('int64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('int64'),
 dtype('int64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('int64'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('int64'),
 dtype('int64'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('float64'),
 dtype('int64'),
 dtype('O'),
 dtype('float64'),
 dtype('float64'),
 dtype('O'),
 dtype('float64'),
 dtype('float64'),
 dtype('O'),
 dtype('O'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('O'),
 dtype('float64'),
 dtype('O'),
 dtype('float64'),
 dtype('int64'),
 dtype('float64'),
 dtype('O'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('O'),
 dtype('O'),
 dtype('float64'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('int64'),
 dtype('int64'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('float64'),
 dtype('int64'),
 dtype('O'),
 dtype('int64'),
 dtype('O'),
 dtype('O'),
 dtype('float64'),
 dtype('float64'),
 dtype('O'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('int64'),
 dtype('float64'),
 dtype('float64'),
 dtype('int64'),
 dtype('int64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('int64')]

In [52]:
df7.columns

Index(['MachineIdentifier', 'ProductName', 'EngineVersion', 'AppVersion',
       'AvSigVersion', 'IsBeta', 'RtpStateBitfield', 'IsSxsPassiveMode',
       'DefaultBrowsersIdentifier', 'AVProductStatesIdentifier',
       'AVProductsInstalled', 'AVProductsEnabled', 'HasTpm',
       'CountryIdentifier', 'CityIdentifier', 'OrganizationIdentifier',
       'GeoNameIdentifier', 'LocaleEnglishNameIdentifier', 'Platform',
       'Processor', 'OsVer', 'OsBuild', 'OsSuite', 'OsPlatformSubRelease',
       'OsBuildLab', 'SkuEdition', 'IsProtected', 'AutoSampleOptIn', 'PuaMode',
       'SMode', 'IeVerIdentifier', 'SmartScreen', 'Firewall', 'UacLuaenable',
       'Census_MDC2FormFactor', 'Census_DeviceFamily',
       'Census_OEMNameIdentifier', 'Census_OEMModelIdentifier',
       'Census_ProcessorCoreCount', 'Census_ProcessorManufacturerIdentifier',
       'Census_ProcessorModelIdentifier', 'Census_ProcessorClass',
       'Census_PrimaryDiskTotalCapacity', 'Census_PrimaryDiskTypeName',
       'Census_SystemVolumeTotalCapacity', 'Census_HasOpticalDiskDrive',
       'Census_TotalPhysicalRAM', 'Census_ChassisTypeName',
       'Census_InternalPrimaryDiagonalDisplaySizeInInches',
       'Census_InternalPrimaryDisplayResolutionHorizontal',
       'Census_InternalPrimaryDisplayResolutionVertical',
       'Census_PowerPlatformRoleName', 'Census_InternalBatteryType',
       'Census_InternalBatteryNumberOfCharges', 'Census_OSVersion',
       'Census_OSArchitecture', 'Census_OSBranch', 'Census_OSBuildNumber',
       'Census_OSBuildRevision', 'Census_OSEdition', 'Census_OSSkuName',
       'Census_OSInstallTypeName', 'Census_OSInstallLanguageIdentifier',
       'Census_OSUILocaleIdentifier', 'Census_OSWUAutoUpdateOptionsName',
       'Census_IsPortableOperatingSystem', 'Census_GenuineStateName',
       'Census_ActivationChannel', 'Census_IsFlightingInternal',
       'Census_IsFlightsDisabled', 'Census_FlightRing',
       'Census_ThresholdOptIn', 'Census_FirmwareManufacturerIdentifier',
       'Census_FirmwareVersionIdentifier', 'Census_IsSecureBootEnabled',
       'Census_IsWIMBootEnabled', 'Census_IsVirtualDevice',
       'Census_IsTouchEnabled', 'Census_IsPenCapable',
       'Census_IsAlwaysOnAlwaysConnectedCapable', 'Wdft_IsGamer',
       'Wdft_RegionIdentifier', 'HasDetections'],
      dtype='object')

In [53]:
from sklearn.preprocessing import LabelEncoder

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Perform label encoding
df7['MachineIdentifier'] = label_encoder.fit_transform(df7['MachineIdentifier'])

In [54]:
df7

,MachineIdentifier,ProductName,EngineVersion,AppVersion,AvSigVersion,IsBeta,RtpStateBitfield,IsSxsPassiveMode,DefaultBrowsersIdentifier,AVProductStatesIdentifier,...,Census_FirmwareVersionIdentifier,Census_IsSecureBootEnabled,Census_IsWIMBootEnabled,Census_IsVirtualDevice,Census_IsTouchEnabled,Census_IsPenCapable,Census_IsAlwaysOnAlwaysConnectedCapable,Wdft_IsGamer,Wdft_RegionIdentifier,HasDetections
0,0,win8defender,1.1.15100.1,4.18.1807.18075,1.273.1735.0,0,7.0,0,NaN,53447.0,...,36144.0,0,NaN,0.0,0,0,0.0,0.0,10.0,0
1,1,win8defender,1.1.14600.4,4.13.17134.1,1.263.48.0,0,7.0,0,NaN,53447.0,...,57858.0,0,NaN,0.0,0,0,0.0,0.0,8.0,0
2,2,win8defender,1.1.15100.1,4.18.1807.18075,1.273.1341.0,0,7.0,0,NaN,53447.0,...,52682.0,0,NaN,0.0,0,0,0.0,0.0,3.0,0
3,3,win8defender,1.1.15100.1,4.18.1807.18075,1.273.1527.0,0,7.0,0,NaN,53447.0,...,20050.0,0,NaN,0.0,0,0,0.0,0.0,3.0,1
4,4,win8defender,1.1.15100.1,4.18.1807.18075,1.273.1379.0,0,7.0,0,NaN,53447.0,...,19844.0,0,0.0,0.0,0,0,0.0,0.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,win8defender,1.1.15200.1,4.8.10240.17443,1.275.193.0,0,7.0,0,NaN,42086.0,...,12456.0,1,0.0,0.0,0,0,0.0,0.0,15.0,0
99996,99996,win8defender,1.1.15100.1,4.18.1806.18062,1.273.371.0,0,7.0,0,NaN,53447.0,...,43238.0,0,NaN,0.0,0,0,0.0,0.0,11.0,1
99997,99997,win8defender,1.1.15200.1,4.18.1807.18075,1.275.1244.0,0,7.0,0,NaN,7945.0,...,19844.0,0,0.0,0.0,0,0,0.0,0.0,8.0,0
99998,99998,win8defender,1.1.15200.1,4.18.1807.18075,1.275.1362.0,0,7.0,0,NaN,53447.0,...,52295.0,1,NaN,0.0,0,0,0.0,NaN,NaN,0
99999,99999,win8defender,1.1.15200.1,4.10.14393.1613,1.275.46.0,0,7.0,0,NaN,53447.0,...,31835.0,1,0.0,0.0,0,0,0.0,0.0,3.0,0

In [55]:
df7['EngineVersion'].dtypes

dtype('O')

In [56]:
# Perform label encoding
df7['ProductName'] = label_encoder.fit_transform(df7['ProductName'])
df7['EngineVersion'] = label_encoder.fit_transform(df7['AppVersion'])
df7['AvSigVersion'] = label_encoder.fit_transform(df7['AvSigVersion'])

In [57]:
df7

,MachineIdentifier,ProductName,EngineVersion,AppVersion,AvSigVersion,IsBeta,RtpStateBitfield,IsSxsPassiveMode,DefaultBrowsersIdentifier,AVProductStatesIdentifier,...,Census_FirmwareVersionIdentifier,Census_IsSecureBootEnabled,Census_IsWIMBootEnabled,Census_IsVirtualDevice,Census_IsTouchEnabled,Census_IsPenCapable,Census_IsAlwaysOnAlwaysConnectedCapable,Wdft_IsGamer,Wdft_RegionIdentifier,HasDetections
0,0,1,38,4.18.1807.18075,3299,0,7.0,0,NaN,53447.0,...,36144.0,0,NaN,0.0,0,0,0.0,0.0,10.0,0
1,1,1,20,4.13.17134.1,1924,0,7.0,0,NaN,53447.0,...,57858.0,0,NaN,0.0,0,0,0.0,0.0,8.0,0
2,2,1,38,4.18.1807.18075,3170,0,7.0,0,NaN,53447.0,...,52682.0,0,NaN,0.0,0,0,0.0,0.0,3.0,0
3,3,1,38,4.18.1807.18075,3221,0,7.0,0,NaN,53447.0,...,20050.0,0,NaN,0.0,0,0,0.0,0.0,3.0,1
4,4,1,38,4.18.1807.18075,3180,0,7.0,0,NaN,53447.0,...,19844.0,0,0.0,0.0,0,0,0.0,0.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,1,55,4.8.10240.17443,3715,0,7.0,0,NaN,42086.0,...,12456.0,1,0.0,0.0,0,0,0.0,0.0,15.0,0
99996,99996,1,34,4.18.1806.18062,3354,0,7.0,0,NaN,53447.0,...,43238.0,0,NaN,0.0,0,0,0.0,0.0,11.0,1
99997,99997,1,38,4.18.1807.18075,3554,0,7.0,0,NaN,7945.0,...,19844.0,0,0.0,0.0,0,0,0.0,0.0,8.0,0
99998,99998,1,38,4.18.1807.18075,3575,0,7.0,0,NaN,53447.0,...,52295.0,1,NaN,0.0,0,0,0.0,NaN,NaN,0
99999,99999,1,5,4.10.14393.1613,3798,0,7.0,0,NaN,53447.0,...,31835.0,1,0.0,0.0,0,0,0.0,0.0,3.0,0

In [58]:
for i in df7.columns:
    if df7[i].dtype == object:
        print(i)

AppVersion
Platform
Processor
OsVer
OsPlatformSubRelease
OsBuildLab
SkuEdition
PuaMode
SmartScreen
Census_MDC2FormFactor
Census_DeviceFamily
Census_ProcessorClass
Census_PrimaryDiskTypeName
Census_ChassisTypeName
Census_PowerPlatformRoleName
Census_InternalBatteryType
Census_OSVersion
Census_OSArchitecture
Census_OSBranch
Census_OSEdition
Census_OSSkuName
Census_OSInstallTypeName
Census_OSWUAutoUpdateOptionsName
Census_GenuineStateName
Census_ActivationChannel
Census_FlightRing

In [59]:
df7.isna().sum()

MachineIdentifier                             0
ProductName                                   0
EngineVersion                                 0
AppVersion                                    0
AvSigVersion                                  0
                                           ...
Census_IsPenCapable                           0
Census_IsAlwaysOnAlwaysConnectedCapable     843
Wdft_IsGamer                               3415
Wdft_RegionIdentifier                      3415
HasDetections                                 0
Length: 83, dtype: int64